<mat-toolbar>
  <span>Angular with Material</span>
</mat-toolbar>

<main>
  <mat-card *ngFor="let ciclovia of ciclovias" >
    <mat-card-title>{{ ciclovia.nombre }}</mat-card-title>
    <mat-card-subtitle>Características: {{ ciclovia.caracteristicas }}</mat-card-subtitle>
    <mat-card-content>
      <p>Desde: {{ ciclovia.desde }}</p>
      <p>Hasta: {{ ciclovia.hasta }}</p>
      <p>Distancia: {{ ciclovia.distancia }}</p>
      <p>Tipo de Segregación: {{ ciclovia.TipoSegregacion }}</p>
      <p>Tipo de Ruta: {{ ciclovia.tipoRuta }}</p>
    </mat-card-content>
  </mat-card>
</main>
